
/*7
*{
    box-sizing: border-box;
    margin: 0;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
li a:hover {
    background-color: #111;
}
#session-btn{
    margin-top: 12%;
    margin-right: 10px;
}



footer {

    width: 100%;
    height: auto;
    color: white;
    text-align: center;

}
.fab:hover{
    color: red;

}

.contains-footer{
    background-color: rgb(0, 0, 0);
    margin-top: 100px;

    display: flex;
    align-items:left;
    justify-content: space-around ;
}
.containsub-footer{
    font-family: 'Roboto', sans-serif;
    width: auto;
    font-size: 18px;
}
#contains-logos img{
    width:  220px;
    height: 100px;
}
*/
/*BODY*/
.image > img{
    width:  30%;
    height: 30%;
}

#brands-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    /*
    background: rgb(63, 63, 63);
    border: black 4px inset;*/
    justify-content: space-around;
}
/* #brands-container > div */
.brand{
    margin: 10px 10px;
    border: rgb(5, 5, 5) 4px outset;
    width: 40%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: pointer;
}
.brand:hover{
    box-shadow: 5px 5px 30px rgba(245, 10, 10, 0.4);
	transform: translateY(-3%);
}
.image-contain > img{
    width: 100%;
}
.tittle{
    margin: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
/*
.Description-contains{
    background-color: rgb(63, 63, 62);
}*/


