/*BODY*/
.image > img{
    width:  30%;
    height: 30%;
}

#brands-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    /*
    background: rgb(63, 63, 63);
    border: black 4px inset;*/
    justify-content: space-around;
}
/* #brands-container > div */
.brand{
    margin: 10px 10px;
    border: rgb(5, 5, 5) 4px outset;
    width: 40%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: pointer;
}
.brand:hover{
    box-shadow: 5px 5px 30px rgba(245, 10, 10, 0.4);
	transform: translateY(-3%);
}
.image-contain > img{
    width: 100%;
}
.tittle{
    margin: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
/*
.Description-contains{
    background-color: rgb(63, 63, 62);
}*/


