*{
  box-sizing: border-box;
  margin: 0;
}
header { 
  position: relative;
  margin-bottom: 60px;
}
/*Botones*/
button{
  margin-top: 8px;
  margin-right: 10px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
}
button:hover{
    background-color:#c4bebe;
}
#registrarse-btn.low{
    display: none;
}
#session-login-btn.low{
    display: none;
}


#logout-btn{
  display:none;
}
#logout-btn.activate{
  display: block;
}


#user-btn{
  display:none;
}
#user-btn.activate{
  display:block;
}
/********************************************/
.content-inicio{
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  opacity: 0.9;
}
ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
li a:hover {
  background-color: #111;
}
#session-btn{
  margin-top: 12%;
  margin-right: 10px;
}
/*footer*/



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*position: absolute;
  bottom: 0;
  width: 100%;*/
  
  height:auto;
  color: white;
  margin-top: 0px;
  text-align: center;  
}
.fab:hover{
  color: red;
}
.contains-footer{
  display: flex;
  align-items:center;
  width: 100%;
  
  background-color: rgb(0, 0, 0);
  justify-content: space-around ;
}
.containsub-footer{
  font-family: 'Roboto', sans-serif;
  width: auto;
  font-size: 15px;
}
#contains-logos img{
  width:  220px;
  height: 100px;
  margin-top: 10px;
}
