/*
*{
    box-sizing: border-box;
    margin: 0;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
li a:hover {
    background-color: #111;
}
#session-btn{
    margin-top: 12%;
    margin-right: 10px;
}
footer



footer {

    width: 100%;
    height: auto;
    color: white;
    text-align: center;

}
.fab:hover{
    color: red;

}

.contains-footer{
    background-color: rgb(0, 0, 0);
    margin-top: 100px;

    display: flex;
    align-items:left;
    justify-content: space-around ;
}
.containsub-footer{
    font-family: 'Roboto', sans-serif;
    width: auto;
    font-size: 18px;
}
#contains-logos img{
    width:  220px;
    height: 100px;
}*/

/*BODY*/
.image > img{
    width:  30%;
    height: 30%;
}

#raquets-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}
/* #brands-container > div */
.raquet{
    margin: 10px;
    width: 20%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    display: flex;
    flex-direction:column ;
    text-align: center;
}
.raquet:hover{
    box-shadow: 5px 5px 30px rgba(245, 10, 10, 0.4);
	transform: translateY(-3%);
}


.image-contain > img{
    margin: 5% 10%;
    
    width: 80%;
    height: 300px;
    /*
    object-fit: cover;
    */
}

.tittle{
    margin: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.Description-contains{
    margin: 20px;
    
}
.buttons-contains{
    margin: auto;
    padding: 10px;
}

/*POP UP */

.overlay, .overlay-eliminar,.overlay-editar,.overlay-create {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
    align-items: center;
	justify-content:center;
    visibility: hidden;

    
}
.overlay.active, .overlay-eliminar.active,.overlay-editar.active,.overlay-create.active{
	visibility: visible;
}
.popup, .popup-eliminar, .popup-editar{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	display: flex;
    
	width: 40%;
	font-size: 25px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    border: 2px;
    border-radius: 12px;
    padding: 5px;
}
.popup.active, .popup-eliminar.active, .popup-editar.active, .popup-create.active  {	
    transform: scale(1); 
    opacity: 1; 
}

.popup .btn-cerrar-popup,  .popup-eliminar .btn-cerrar-popup-eliminar,  .popup-editar .btn-cerrar-popup-editar,  .popup-create .btn-cerrar-popup-create{
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #636060;
}
.popup .btn-cerrar-popup:hover,  .popup-eliminar .btn-cerrar-popup-eliminar:hover,  .popup-editar .btn-cerrar-popup-editar:hover ,  .popup-create .btn-cerrar-popup-create:hover{
	color: rgb(255, 0, 0);
}
/*Detalles*/
.popup{
    display: flex;
}
.image-contain-popup >img{
    width: 100%;
    height: 400px;

}
.contain-description-popup{
    width: 70%;
    height: 10%;
    padding: 20px;
    border: 2px;
    margin-top: 10%;
    border-radius: 12px;
    /*
    background-color: rgb(173, 173, 175);
    */
}
.contain-description-popup p{
    display: inline;
    
}
.tittle-model{
    text-align: center;
    margin-bottom: 5%;
}
/* ********************************* */
/*Eliminar*/
.popup-eliminar{
    width: 20%;
}
.content-eliminar{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-left: 5%;
    width: 100%;
} 

.content-eliminar-btn.low{
    display: none;
}
/* ********************************* */
/*Editar*/
.popup-editar{
    background-color: rgb(211, 209, 209);
    padding: 5px;
    width: 30%;
    margin-bottom: 80px;
    /*
    border: 2px;
    border-radius: 12px;
    padding: 5px;
    */
}
.content-editar{
    margin: 10px;
    width: 100%;
    
}

.popup-editar p{
    margin-top: 0px;
    
}
.popup-editar input{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
#input-descripcion-editar{
    width: 300px;
    height: 100px;
}
form{
    display: flex;
    align-items: center;
    flex-direction:column;
}

.form-content-editar.low{
    display: none;
}
/*Agregar PopUp*/
.popup-create{
    margin-bottom: 60px;
    background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	display: flex;
	width:25%;
	font-size: 25px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    border: 2px;
    border-radius: 12px;
    padding: 5px;
}

.container-raquet-create{
    margin: auto;
}
.container-raquet-create.low{
    display: none;
}
.message-create-div{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
}
.message-create-div p{
    margin-top: 40px;
}
/*Agregar btn*/
#content-add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content-btn-add{
    
    color: rgb(119, 117, 117);
    
}
.content-btn-add button{
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    font-size: 40px;
}
.content-btn-add button:hover{
    background-color: rgb(175, 175, 175);
}

.container-raquet-create label{
    
    display: inline-block;
    width: 40%; 
}


/*Alerts campos de agregar*/
.alert-invalidate {
    margin-top: 2%;
    position: relative;
    right: 0px;
    background-color: red;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    transition: .3s ease all;
	transform: scale(0.5);
	opacity: 0;
}
.alert-invalidate p{
    display: none;
}
.alert-invalidate.active p{
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}
.alert-invalidate.active{
    transform: scale(0.7); 
    opacity: 1; 
}
